In [13]:
import pandas as pd
data=pd.read_excel('Book1.xlsx')
print(data)

   Student ID          Name  Age Gender Grade Level  Math Score  \
0        1001      John Doe   16      M        11th          85
1        1002    Jane Smith   15      F        10th          92
2        1003  Mike Johnson   17      M        12th          78
3        1004    Emma Brown   16      F        11th          88
4        1005    Oliver Lee   17      M        12th          79
5        1006   Lily Wilson   15      F        10th          95
6        1007    Noah Davis   18      M        12th          82
7        1008     Ava Moore   14      F         9th          91
8        1009   Lucas White   16      M        11th          87
9        1010  Sophia Black   15      F        10th          89

   Science Score  English Score  History Score  Art Score  Attendance (%)  \
0             90             88             82         78              95
1             85             91             87         80              98
2             80             82             76         75              92
3             89             85             90         92              96
4             84             87             83         80              93
5             90             92             85         88              97
6             85             78             79         74              94
7             93             94             92         86              99
8             89             85             90         77              95
9             84             90             80         82              96

  Extracurricular Activities  Admission year
0          Basketball, Chess            2022
1              Debate, Drama            2021
2              Soccer, Music            2022
3            Volleyball, Art            2020
4         Football, Robotics            2021
5        Drama, Volunteering            2020
6           Baseball, Coding            2022
7          Swimming, Writing            2019
8         Basketball, Coding            2023
9              Tennis, Choir            2021

In [11]:
mean=data['English Score'].sum()/len(data['English Score'])
squared_diffs = [(x - mean) ** 2 for x in data['English Score']]

# Calculate variance
variance = sum(squared_diffs)/len(data['English Score'])

print(mean)
print(variance)

87.2
21.36

In [12]:
import math
stdev=math.sqrt(variance)
print(stdev)

4.621688003316537

In [15]:
x=data['English Score']
y=data['Art Score']
mean_x=data['English Score'].sum()/len(data['English Score'])
mean_y=data['Art Score'].sum()/len(data['Art Score'])
cov_sum=sum((x[i]-mean_x)*(y[i]-mean_y) for i in range(len(data['English Score'])))
covariance=cov_sum/len(data['English Score'])
print(covariance)

14.459999999999997